<div>
    <h4 class="subtitle">Why IE8 compatibility?</h4>
    <div>
        From version 1.3 on, AngularJS is dropping support for IE8. AngularJS 1.2 will continue to support IE8, but
        the core team does not plan to spend time addressing issues specific to IE8 or earlier. However, IE8 is still
        used on some occasions. In my case, IE8 is the major browser used by my clients, and it won't be changed for
        additional one year or two. It brought me great headache when I try to resolve IE8 compatibility issues one
        by one. So I thought it would be helpful to contribute what I've learned as I go.
    </div>
    <br>
    <h4 class="subtitle">What should I start with?</h4>
    <div>
        It is worth spending a little while on the official AngularJs site:
        <a href="https://docs.angularjs.org/guide/ie" target="_blank">https://docs.angularjs.org/guide/ie</a>.
    </div>
    <br>
    <h4 class="subtitle">Testing environment</h4>
    <div>
        I used IE8 and AngularJS 1.2.6 specifically for all tests. I don't test with IE8 above; the solutions to IE8
        may or may not fit other IE versions.
    </div>
</div>